<%= hidden_field_tag :token, value: @token %>

<h3>Product List<%= link_to '     Import File', products_new_import_file_path , class: "btn btn-primary" %> 
  <h6><%= form_with model: Product.new, url: search_products_path, method: :get do |f| %>
    <%= f.label :product_id, 'Select a Product:' %>
    <%= f.collection_select(:product_id, Product.all, :products_name, :products_name, include_blank: 'Select a Product') %>
    <%= f.submit 'Search' %>
  <% end %></h6>
</h3>
  <table class="table"; border= 2px;>
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |p| %>
        <tr>
          <td><%= p.products_name %></td>
          <td><%= p.price %></td>
          <td>
            <%= link_to 'View Detail', product_path(p.id), class: "btn btn-primary" %>  
            <% if @current_user_roles&.include?('admin') %>
              <%= link_to 'Create Product', new_product_path, class: "btn btn-primary" %>
            <% else %>
              <%= link_to 'Add Rating', new_rating_path, class: "btn btn-primary" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<div class="pagination">
  <%= will_paginate @products %>
</div>